/* styles goes here */
body {
    background-color: #E5E5E5;
}
.header {
    height: 1070px;
    text-align: center;
    background: url(../img/bg1.svg)no-repeat;
    background-size: cover;
    margin-bottom: 160px;
}

.header img:first-child {
    margin-top: 347px;
}

.header img {
    margin-top: 215px;
}
.header h1 {
    margin: 0 auto;
    margin-top: 67px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 65px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 610px;
}

.header p {
    margin: 0 auto;
    margin-top: 27px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 610px;
}

.row {
    width: 100%;
}
legend {
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}
/* .border {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 930px;
    margin-bottom: 160px;
    text-align: center;
    border: 1px solid #3C3C3C;
    box-sizing: border-box;
    flex-direction: column;
} */
.border__title {
    width: max-content;
    align-items: center;
    margin-top: -10px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #E5E5E5;
}

.col-6 p {
    /* width: 100%; */
    
}

.sectiontwo {
    margin: 0 auto;
    background: url(../img/bg2.svg);
    background-size: cover;
    height: 587px;
    padding-top: 160px;
}

.sectiontree {
    margin: 0 auto;
    margin-top: 160px;
}

.col-4 {
    background: url(../img/);
}